<%- include("parciais/cabeca") %> 

    <div class="card">
        <h2>Adicionar Nova Tarefa</h2>
        <form action="/tasks" method="POST" class="form-tarefa">
            <input type="text" name="title" placeholder="Digite a tarefa" required>
            <input type="submit" value="Adicionar">
        </form>
    </div>

<%- include("parciais/rodape") %>